<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.booking.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.alpha.booking.model.Category">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="restaurant_id" jdbcType="BIGINT" property="restaurantId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, category_name, restaurant_id
  </sql>

</mapper>