<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.booking.dao.SellItemMapper">
  <resultMap id="BaseResultMap" type="com.alpha.booking.model.SellItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="orig_price" jdbcType="DOUBLE" property="origPrice" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="restaurant_id" jdbcType="BIGINT" property="restaurantId" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="is_soldout" jdbcType="INTEGER" property="isSoldout" />
  </resultMap>
  
  
  <resultMap id="SellItemWithCategory" type="com.alpha.booking.model.CategoryWithItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="restaurant_id" jdbcType="VARCHAR" property="restaurantId" />    
    <collection property="sellItems" ofType="com.alpha.booking.model.SellItem" >
         <result column="id" jdbcType="BIGINT" property="id" />
         <result column="name" property="name"/>
         <result column="orig_price" property="origPrice"/>
         <result column="unit" property="unit"/>     
         <result column="restaurant_id" property="restaurantId"/>   
         <result column="image" property="image"/>   
         <result column="description" property="description"/>   
         <result column="order_num" property="orderNum"/>   
         <result column="category" property="category"/>   
         <result column="is_soldout" property="isSoldout"/>   
    </collection>
  </resultMap>
  
  
  <sql id="Base_Column_List">
    id, name, orig_price, price, unit, restaurant_id, image, description, order_num, 
    discount, category, is_soldout
  </sql>
  
  <select id="selectAllItemsByRestaurantId" parameterType="java.lang.Long" resultMap="SellItemWithCategory">
SELECT
	category.id,
	category.category_name,
	category.restaurant_id,
	sell_item.category,
	sell_item.description,
	sell_item.discount,
	sell_item.id,
	sell_item.image,
	sell_item.is_soldout,
	sell_item.`name`,
	sell_item.order_num,
	sell_item.orig_price,
	sell_item.price,
	sell_item.restaurant_id,
	sell_item.unit
FROM
	category,
	sell_item,
	restaurant
WHERE
	restaurant.id = #{id}
AND restaurant.id = sell_item.restaurant_id
AND sell_item.restaurant_id = category.restaurant_id
AND sell_item.category = category.id      
           
  </select>
  
  
  <select id="selectAllItemsByRestaurantId0" parameterType="java.lang.Long" resultType="com.alpha.booking.model.SellItem">
      select * from sell_item where restaurant_id = #{id}    
  </select>
  
  
   <select id="sellItemStatistics" resultType = "com.alpha.booking.result.model.SellItemStatistics">
SELECT
	DATE_FORMAT(orders.create_time,'%Y-%m-%d') as day,
	order_item.item_id,
	count(order_item.amount) as total
FROM
	orders,
	order_item
WHERE
	orders.create_time
BETWEEN
	#{start}
AND
	#{end}
AND
	orders.restaurant_id = #{id}
AND
	orders.order_num = order_item.order_num
AND
	order_item.item_id
in
	<foreach collection="item_id" index = "index" item = "item" open="(" separator="," close=")">
	#{item}
	</foreach>
GROUP BY
	day,order_item.item_id
  
  </select>
  
  
</mapper>